/*
define flex container for main screen block
try to use all of the hight that is visible in screen
*/
.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


div.notification {
    width: 80%;
    height: 20%;
    max-width: 800px;
    max-height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

p.text-notification {
    margin-left: 3%;
}

div.error {
    background-color: rgba(255, 0, 0, 0.4);
    border-color: #010101;
}

div.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 500px;
    margin: 1em;
    border-style: solid;
    border-color: #b40a0a;
    border-width: 1px;
}

.inner_box {
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    font-size: 30px;
    height: 80%;
    max-height: 300px;
}

div.profile_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 2.5%;
}

div.profile_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
}

img.profile_image {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 70%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 90px;
    border-style: none;
}

div.user_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.user_info_par {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

p.gh-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

p.gh-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

p.gh-location {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.1rem;
}

div.profile_bio_block {
    height: 30%;
}

pre.profile_bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

div.search_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 2.5%;
}

.form-style {
    display: inline-block;
    text-align: center;
}

.text-field {
    width: 80%;
    border-radius: 2px;
}

.submit-button {
    width: 80%;
    margin-top: 20%;
    background-color: white;
    border-radius: 2px;
    border-color: black;
}