/*
define flex container for main screen block
try to use all of the hight that is visible in screen
*/
.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* 
define notification block to use for notifying
*/
div.notification {
    width: 80%;
    height: 20%;
    max-width: 800px;
    max-height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* 
define style of text in notification block
*/
p.text-notification {
    margin-left: 3%;
    font-size: 1em;
}

/* 
specify background color and border color of notification block when error ocurred.
*/
div.error {
    background-color: rgba(255, 0, 0, 0.4);
    border-color: #010101;
}

/* 
specify main block of of that contain info and search box
items in this block are justified as center and border has a curvy style
*/
div.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 500px;
    margin: 1em;
    border-style: solid;
    border-color: #b40a0a;
    border-width: 1px;
}

/* 
define style of inner boxes in main box. they have white background color and 
have curvy style border
*/
.inner_box {
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    font-size: 30px;
    height: 80%;
    max-height: 300px;
}

/* 
Styles of profile box that has information about GitHub user. The block
has flex display and items has arranged in column order
*/
div.profile_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-right: 2.5%;
}

/* 
styles of top of profile box section. In this section, profile picture and user information except 
user bio will be appear 
*/
div.profile_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
}

/* 
Styles of profile picture. The profile picture is in circle style 
*/
img.profile_image {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 70%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 50%;
    border-style: none;
}

/* 
This block contains user information except user bio and has flex display in 
column direction.
*/
div.user_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

/* 
Styles of user information text to align them to center
*/
.user_info_par {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/* 
Specific styles of the GitHub name of the user like font-family, font-size and make it bold
*/
p.gh-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}

/* 
Specific styles of the GitHub email of the user like font-family, font-size
*/
p.gh-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4em;
}

/* 
Specific styles of GitHub location of the user like font-family, font-size
*/
p.gh-location {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.5em;
}

/* 
Specific styles of GitHub user bio block
*/
div.profile_bio_block {
    height: 30%;
}

/* 
Specific styles of GitHub user bio paragraph like font-family and font-size
*/
pre.profile_bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
}

/* 
Styles of search box block. It has flex display and column direction and items are justified as 
center
*/
div.search_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: 2.5%;
}

/* 
Styles of form div that has input elements
*/
.form-style {
    text-align: center;
}

/* 
text field element styles
*/
.text-field {
    width: 80%;
    border-radius: 2px;
    padding: 5px 15px;
    box-sizing: border-box;
}

/* 
submit button styles
*/
.submit-button {
    width: 80%;
    margin-top: 10%;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

/* 
submit button styles after hovering over it
*/
.submit-button:hover {
    background-color: #f5f5f5;
}